@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 200 95% 8%;
    --card: 0 0% 100%;
    --card-foreground: 200 95% 8%;
    --popover: 0 0% 100%;
    --popover-foreground: 200 95% 8%;
    --primary: 193 96% 23%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 200 95% 8%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 200 20% 45%;
    --accent: 40 90% 52%;
    --accent-foreground: 200 95% 8%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 193 96% 23%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 200 95% 8%;
    --foreground: 0 0% 98%;
    --card: 200 80% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 200 95% 8%;
    --popover-foreground: 0 0% 98%;
    --primary: 193 96% 23%;
    --primary-foreground: 0 0% 98%;
    --secondary: 200 50% 15%;
    --secondary-foreground: 0 0% 98%;
    --muted: 200 50% 15%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 40 90% 52%;
    --accent-foreground: 200 95% 8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 200 50% 15%;
    --input: 200 50% 15%;
    --ring: 40 90% 52%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
